* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.app {
  flex-direction: column;
  overflow: auto;
}

h1 {
  margin-top: 30px;
}

h6 {
  color: rgba(0, 0, 0, 0.45);
}

a {
  text-decoration: none;
  color: var(--bs-purple);
}

.card-link a {
  color: rgba(0, 0, 0, 0.85);
}

.card-link a:hover {
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
  transition: box-shadow 0.3s;
}

.card-link a:focus {
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%);
  transition: box-shadow 0.3s;
}

p {
  text-align: justify;
}

.text-details {
  color: var(--bs-purple);
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-img {
  width: 35px;
  height: 35px;
}

.news-header {
  display: flex;
  padding: 1rem;
}

.news-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  text-align: start;
}

.news-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 4;
  height: 100px;
}

.news-provider {
  display: flex;
  padding: 1rem;
  align-items: center;
}

.news-img {
  height: 120px;
  width: 120px;
  object-fit: cover;
  margin-right: 1rem;
}

.btn {
  display: flex;
  margin: auto;
}

.info {
  display: flex;
  padding: 1.5rem 0.5rem;
}

.info-title {
  display: flex;
  align-items: center;
}

.info-p {
  margin-bottom: 0;
  margin-left: 1rem;
}

.price {
  text-align: end;
}

.details {
  border: 0;
  border-bottom: 1px solid rgba(0,0,0,.125);
  border-radius: 0;
}

.info-card {
  margin-top: 20px;
}

.chart-info {
  display: flex;
  justify-content: space-between;
}

.link {
  text-align: end;
}

.btn-primary {
  background-color: var(--bs-purple);
  border-color: var(--bs-purple);
}

.btn {
  outline: none;
}

.btn-primary:hover {
  background-color: var(--bs-purple);
  border-color: var(--bs-purple);
  opacity: .7;
}

.btn-primary:focus {
  background-color: var(--bs-purple);
  border-color: var(--bs-purple);
  opacity: .7;
  box-shadow: none;
}

.btn-primary:focus-visible {
  outline: none;
}

.form-control:focus {
  border-color: #a274f8;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(162 116 248 / 25%);
}

.form-select:focus {
  border-color: #a274f8;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(162 116 248 / 25%);
}